/* src/components/MoviePage.css */
.m-movie-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}
.m-movie-page {
    padding: 20px;
    color: #fff;
    width: 80%;
  }
  
  .m-movie-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .m-movie-poster {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .m-movie-details {
    text-align: left;
  }
  
  .btn {
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .m-movie-meta {
    margin: 20px 0;
  }
  
  .m-movie-description {
    margin-top: 10px;
  }
  
  @media (min-width: 768px) {
    .movie-info {
      flex-direction: row;
      align-items: flex-start;
    }
    
    .movie-poster {
      max-width: 40%;
      margin-right: 20px;
    }
    
    .movie-details {
      text-align: left;
    }
  }
  